/* Default Dark Mode */
body {
    font-family: Arial, sans-serif;
    background: #001020;
    color: white;
    text-align: center;
    padding: 20px;
    transition: 0.5s;
}

.add-stock-form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #001020;
    border-radius: 4px;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addStockBtn {
    background: #034587;
    color: white;
}

#addStockBtn:hover {
    background: #034587;
}

/* Light Mode (Pink & White Gradient) */
.light-mode {
    background:#b4b3b4;
    color: black;
}

.light-mode .dashboard {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(244, 226, 235, 0.3);
}

/* Table */
table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.9);
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #034587;
}

th {
    background: #034587;
    color: white;
}

.light-mode table {
    background: white;
    color: black;
}

.light-mode th {
    background: #aca9ab;
    color: white;
}

/* Change % Color */
.positive {
    color: #034587;
}

.negative {
    color: #ff4444;
}

/* Remove Button */
.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background: darkred;
}

/* Theme Toggle */
#themeToggle {
    background: #034587;
    color: white;
}

#themeToggle:hover {
    background: #040303;
}

.light-mode #themeToggle {
    background: #424141;
    color: white;
}

.light-mode #themeToggle:hover {
    background: #050204;
}
.conn {
    border: 2px solid black;
}